{% extends 'base.html.twig' %}

{% block title %} Les utilisateurs {% endblock %}

{% block montitre %}Liste des Utilisateurs {% endblock %}



{% block body %}
{% include "menu_biblio_admin.html.twig" %}

<div class="row btn btn-outline-warning">
      
  <h1><a class="nav-link "href="{{path('form_uti')}}">Ajouter un utitlisateur</a></h1>
    
</div>
<div class="row btn btn-outline-warning">
      
  <h1><a class="nav-link "href="{{path('utilisateur_status')}}">Afficher les  utitlisateurs par status = Publié</a></h1>
    
</div>

  <div>
  <table class="table table-striped bordored-radius=2px text-center ">
    <thead class="table-danger">
        <tr>
      <th >Civilite</th>  
      <th >Nom</th>
      <th >Prenom</th>  
      <th >Adresse</th>  
      <th >Photo</th>
      <th >Email</th> 
      <th >Role</th> 
      <th >Status</th> 
      <th >Action </th>
      <th >Editer </th>
      <th >Supprimer </th>
    </tr>
  </thead>
  <tbody>
  {% for ut in utilisateurs %}
    <tr>
      <td class="row"> {{ut.civilite}}
      </td>
      <td> {{ut.nom}}
      </td>
      <td> {{ut.prenom}}
      </td>
      
      <td> {{ut.adresse}}
      </td>
      <td> {{ut.photo}}
      </td>

      <td> 
      {{ut.email}}
      </td>
     
      
      <td> 

      {% for ro in ut.roles %}
      {{ ro }}

      {% endfor %}

      </td>
       <td> 
      {{ut.Status}}
      </td>

      <td class="bg-outline-success">
        <a href="{{ path('uti_affiche', {'id':ut.id})}}">Cliquez ICI !</a>
      </td>
      <td class="bg-outline-info">
        <a href="{{ path('edit_utilisateur', {'id':ut.id})}}">Modifier!</a>
      </td>
      <td class="btn btn-danger ">
        <a href="{{ path('suppr_utilisateur', {'id':ut.id})}}">Supprimer!</a>
      </td>

   {% endfor %}
      
    </tr>
  </tbody>
</table>
<div>
<h3> Nombre total des Utilisateurs : {{ nbutilisateurs }}
</h3>
</div>


    {% endblock body %}
