{% extends 'base.html.twig' %}

{% block title %} Les utilisateurs {% endblock %}

{% block montitre %}Liste des Utilisateurs qui ont publié {% endblock %}



{% block body %}
{% include "menu_biblio_admin.html.twig" %}

  <div>
  <table class="table table-striped bordored-radius=2px text-center ">
    <thead class="table-danger">
        <tr>
      <th >Nom</th>
      <th >Prenom</th>  
      <th >Civilite</th>  
      <th >Adresse</th>  
      <th >Photo</th>
      <th >Email</th> 
      <th >Status</th> 
      <th >Action </th>
      <th >Editer </th>
      <th >Supprimer </th>
    </tr>
  </thead>
  <tbody>
  {% for ut in utilisateurs %}
    <tr>
      <td> {{ut.nom}}
      </td>
      <td> {{ut.prenom}}
      </td>
      </td>
      <td> {{ut.civilite}}
      </td>
      <td> {{ut.adresse}}
      </td>
      <td>
      {{ut.photo}}
      </td>
      <td>
      {{ut.email}}
      </td>
      <td>
      {{ut.status}}
      </td>
      </td>
      <td class="bg-outline-success">
        <a href="{{ path('uti_affiche', {'id':ut.id})}}">Cliquez ICI !</a>
      </td>
      <td class="bg-outline-info">
        <a href="{{ path('edit_utilisateur', {'id':ut.id})}}">Modifier!</a>
      </td>
      <td class="btn btn-danger ">
        <a href="{{ path('suppr_utilisateur', {'id':ut.id})}}">Supprimer!</a>
      </td>

   {% endfor %}
      
    </tr>
  </tbody>
</table>
<div>
</h3>
</div>


    {% endblock body %}
