{% extends "base.html.twig" %}
{% block body %}
{% include "menu_biblio_admin.html.twig" %}

<div class="row btn btn-outline-warning">
  <h1><a class="nav-link " href="{{path('ajouter_article_form')}}">Ajouter un nouvel Article !</a>
</div>
<div class="row btn btn-outline-warning">
  <h1><a class="nav-link " href="{{path('article_status')}}"> Articles publiés !</a>
</div>
<div class="row btn btn-outline-warning">
  <h1><a class="nav-link " href="{{path('CatAuteurPublie')}}"> Articles publié d'un Auteur !</a>
</div>
<div class="row btn btn-outline-warning">
  <h1><a class="nav-link " href="{{path('articledunAuteur')}}"> Articles d'un Auteur !</a>
</div>
<div class="row btn btn-outline-warning">
  <h1><a class="nav-link " href="{{path('articleduneCategorie')}}"> Articles d'une categorie !</a>
</div>
<div class="row btn btn-outline-warning">
  {# <h1><a class="nav-link " href="{{path('article_categorie')}}"> Articles Categories !</a> #}
</div>

<div class="row btn btn-outline-warning">
  <h1><a class="nav-link " href="{{path('search')}}">findBy !</a>
</div
{# <div>
  {{ form_start(form) }}
    {{ form_widget(form) }}
  {{form_end(form) }}
</div>
<div>
  {{ form_start(formCategorie) }}
    {{ form_widget(formCategorie) }}
  {{form_end(formCategorie) }}
</div> #}
    <table class="table">
      <tr class="table table-primary">
        <td>Id</td>
        <td>Title</td>
        <td>Resume</td>
        <td>Categorie</td>
        <td>Imagefile</td>
        <td>Commentaires</td>
        <td>Status</td>
        <td>Action</td>
        <td>Editer</td>
        <td>Supprimer</td>
      </tr>
      {% for article in articles %}
      <tr>
      <td>
        {{article.id}}
      </td>
      
      <td>
        {{article.titre}}
      </td>
      
      <td>
        {{article.resume}}
      </td>
      <td>
        {{article.categorie.titre}}
      </td>
        <td>
          <td><img src="{{ vich_uploader_asset(article, 'imageFile')| imagine_filter('medium') }}" class="img-fluid img-tdumbnail" alt="{{ article.titre }}">        </td>
      
        <td>
         {% for com in article.commentaires %}
                {{com.commentaire}}
         {% endfor %}
         

      </td>
      <td>
      {{article.status}}
      </td>
      
      <td class=" bg-warning">
        <a href="{{ path('article_id',{'slug':article.slug}) }}">lire l'article !</a>
      </td>
      
      <td >
        <a class='-warnig'href="{{path('edit_article',{'id':article.id})}}">Modifier!</a>
      </td>
      
      <td class="bg-danger">
        <a href="{{path('suppr_categorie',{'id':article.id})}}">Supprimer !</a>
      </td>
  </tr>
     {% endfor %}
  </table>
  
{% endblock %}
